.center{
	height: 1000px;
	width: 100%;
}
.center-middle{
	background-color: #ffffff;
	border-left: 1px solid #ecece5;
	border-right: 1px solid #ecece5;
	height: 1000px;
	margin-left: 22.5%;
	margin-right: 22.5%;
	width: 55%;
}
.center-middle-top{
	border-radius: 7px;
	float: left;
	height: 50px;
	margin-bottom: 20px;
	margin-left: 1.4%;
	margin-right: 1.4%;
	margin-top: 100px;
	padding-bottom: 100px;
	width: 97.2%;
}
.center-middle-top-h3{
    color: #004c99;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}
.center-middle-elements{
	border: 1px solid #ecece5;
	float: left;
	height: 254px;
	padding-left: 17px;
	padding-top: 40px;
	width: 33.3%;
}
.center-middle-elements-middle {
    display: inline-block;
    height: 50%;
    width: 100%;
}
.center-middle-elements-middle-name{
	color: #202020;
	font-size: 14px;
	font-weight: 700;
	float: left;
	height: 100%;
	margin-left: 43px;	
	margin-top: -35px;
	padding-top: 10px;
	text-decoration: none;
	width: 45%;
}
.center-middle-elements-middle-img{
	border: 1px solid #747474;
	border-radius: 5px;
	float: right;
	height:80%;
	margin-top: -23px;
	margin-right: 20px;
	right: 0;
	transition: border 0.7s, opacity 0.7s;
	width: 27%;
}
.center-middle-elements-middle-img:hover{
	border: 1px solid #909090;
	opacity: 0.6;
}
.center-middle-elements-middle-exp{
	color: #404040;
	font-size: 12px;
	font-weight: 600;
	float: left;
	height: 90px;
	margin-top: -53px;
	padding-top: -60px;
	width: 60%;
}
.center-middle-elements-bottom {
    display: inline-block;
    height: 10%;
    width: 100%;
}
.center-middle-elements-button{
    background-color: #0066cc;
	border: 1px solid #404040;
    border-radius: 4px;
    color: white;
    font-size: 14px;
    float: left;
    margin-top: 17px;
    width:20%;
}
.center-middle-elements-button:hover{
    background-color:#004c99;
}
.center-middle-elements-button:active{   
	background-color:white;
    color:#0066cc;
}
.center-middle-elements-bottom-contact{
	color: #202020;
	font-size: 14px;
	font-weight: 700;
	float: right;
	height: 100%;
	padding-top: 8px;
	text-decoration: none;
	width: 50%;
}
.relative {
    position: relative;
}